# Project
## Loading The Extension
You must run the following cell in order to enable the extension

In [1]:
%reload_ext jupyter-rdfify

## Quering for Movies

### Finding Movies by Actor

In [2]:
%%rdf sparql --endpoint https://api.triplydb.com/datasets/Triply/linkedmdb/services/linkedmdb/sparql
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX lmdb: <https://triplydb.com/Triply/linkedmdb/vocab/>
PREFIX actor: <https://triplydb.com/Triply/linkedmdb/id/actor/>
PREFIX dc: <http://purl.org/dc/terms/>

SELECT DISTINCT ?title
WHERE {
    ?movie lmdb:actor ?actor .
    ?actor lmdb:actor_name "Albert Hall" .
    ?movie dc:title ?title .
}

### Finding Movies by Title

In [19]:
%%rdf sparql --endpoint https://api.triplydb.com/datasets/Triply/linkedmdb/services/linkedmdb/sparql
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX lmdb: <https://triplydb.com/Triply/linkedmdb/vocab/>
PREFIX actor: <https://triplydb.com/Triply/linkedmdb/id/actor/>
PREFIX dc: <http://purl.org/dc/terms/>

SELECT *
WHERE {
    ?movie dc:title "Titanic" .
    ?movie dc:date ?date .
    ?movie lmdb:director ?director .
    ?director lmdb:director_name ?director_name .
}

## Quering for similar Movies

### Attributes that could be used
- Release Date
- Genre
- Actors
- Director
- Country
- Cinematographer
- Editor
- Producer
- Writer
- Language

### Same Actor, Director

In [35]:
%%rdf sparql --endpoint https://api.triplydb.com/datasets/Triply/linkedmdb/services/linkedmdb/sparql
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX lmdb: <https://triplydb.com/Triply/linkedmdb/vocab/>
PREFIX actor: <https://triplydb.com/Triply/linkedmdb/id/actor/>
PREFIX dc: <http://purl.org/dc/terms/>

SELECT DISTINCT ?title
WHERE {
    ?movie dc:title "Titanic" ;
           lmdb:filmid 72 ;
           lmdb:actor ?actor ;
           lmdb:director ?director .
    ?movie2 lmdb:actor ?actor ;
            lmdb:director ?director ;
            dc:title ?title .
    FILTER(?movie != ?movie2)
}

### Same Actor, Director, Country, Genre

In [29]:
%%rdf sparql --endpoint https://api.triplydb.com/datasets/Triply/linkedmdb/services/linkedmdb/sparql
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX lmdb: <https://triplydb.com/Triply/linkedmdb/vocab/>
PREFIX actor: <https://triplydb.com/Triply/linkedmdb/id/actor/>
PREFIX dc: <http://purl.org/dc/terms/>

SELECT DISTINCT ?title
WHERE {
    ?movie dc:title "Titanic" ;
           lmdb:filmid 72 ;
           lmdb:actor ?actor ;
           lmdb:director ?director ;
           lmdb:country ?country ;
           lmdb:genre ?genre .
    ?movie2 lmdb:actor ?actor ;
            lmdb:director ?director ;
            lmdb:country ?country ;
            lmdb:genre ?genre ;
            dc:title ?title .
    FILTER(?movie != ?movie2)
}

### Same Director, Country, Genre

In [24]:
%%rdf sparql --endpoint https://api.triplydb.com/datasets/Triply/linkedmdb/services/linkedmdb/sparql
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX lmdb: <https://triplydb.com/Triply/linkedmdb/vocab/>
PREFIX actor: <https://triplydb.com/Triply/linkedmdb/id/actor/>
PREFIX dc: <http://purl.org/dc/terms/>

SELECT DISTINCT ?title
WHERE {
    ?movie dc:title "Titanic" ;
           lmdb:filmid 72 ;
           lmdb:director ?director ;
           lmdb:country ?country ;
           lmdb:genre ?genre .
    ?movie2 lmdb:director ?director ;
            lmdb:country ?country ;
            lmdb:genre ?genre ;
            dc:title ?title .
    FILTER(?movie != ?movie2)
}

### Same Director, Writer, Country, Genre

In [30]:
%%rdf sparql --endpoint https://api.triplydb.com/datasets/Triply/linkedmdb/services/linkedmdb/sparql
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX lmdb: <https://triplydb.com/Triply/linkedmdb/vocab/>
PREFIX actor: <https://triplydb.com/Triply/linkedmdb/id/actor/>
PREFIX dc: <http://purl.org/dc/terms/>

SELECT DISTINCT ?title
WHERE {
    ?movie dc:title "Titanic" ;
           lmdb:filmid 72 ;
           lmdb:director ?director ;
           lmdb:writer ?writer ;
           lmdb:country ?country ;
           lmdb:genre ?genre .
    ?movie2 lmdb:director ?director ;
            lmdb:writer ?writer ;
            lmdb:country ?country ;
            lmdb:genre ?genre ;
            dc:title ?title .
    FILTER(?movie != ?movie2)
}

### Same Cinematographer, Country, Genre

In [31]:
%%rdf sparql --endpoint https://api.triplydb.com/datasets/Triply/linkedmdb/services/linkedmdb/sparql
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX lmdb: <https://triplydb.com/Triply/linkedmdb/vocab/>
PREFIX actor: <https://triplydb.com/Triply/linkedmdb/id/actor/>
PREFIX dc: <http://purl.org/dc/terms/>

SELECT DISTINCT ?title
WHERE {
    ?movie dc:title "Titanic" ;
           lmdb:filmid 72 ;
           lmdb:country ?country ;
           lmdb:cinematographer ?cinematographer ;
           lmdb:genre ?genre .
    ?movie2 lmdb:country ?country ;
            lmdb:cinematographer ?cinematographer ;
            lmdb:genre ?genre ;
            dc:title ?title .
    FILTER(?movie != ?movie2)
}

### Same Editor, Country, Genre

In [32]:
%%rdf sparql --endpoint https://api.triplydb.com/datasets/Triply/linkedmdb/services/linkedmdb/sparql
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX lmdb: <https://triplydb.com/Triply/linkedmdb/vocab/>
PREFIX actor: <https://triplydb.com/Triply/linkedmdb/id/actor/>
PREFIX dc: <http://purl.org/dc/terms/>

SELECT DISTINCT ?title
WHERE {
    ?movie dc:title "Titanic" ;
           lmdb:filmid 72 ;
           lmdb:country ?country ;
           lmdb:editor ?editor ;
           lmdb:genre ?genre .
    ?movie2 lmdb:country ?country ;
            lmdb:editor ?editor ;
            lmdb:genre ?genre ;
            dc:title ?title .
    FILTER(?movie != ?movie2)
}

### Same Producer, Country, Genre

In [33]:
%%rdf sparql --endpoint https://api.triplydb.com/datasets/Triply/linkedmdb/services/linkedmdb/sparql
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX lmdb: <https://triplydb.com/Triply/linkedmdb/vocab/>
PREFIX actor: <https://triplydb.com/Triply/linkedmdb/id/actor/>
PREFIX dc: <http://purl.org/dc/terms/>

SELECT DISTINCT ?title
WHERE {
    ?movie dc:title "Titanic" ;
           lmdb:filmid 72 ;
           lmdb:country ?country ;
           lmdb:producer ?producer ;
           lmdb:genre ?genre .
    ?movie2 lmdb:country ?country ;
            lmdb:producer ?producer ;
            lmdb:genre ?genre ;
            dc:title ?title .
    FILTER(?movie != ?movie2)
}